.action {
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-family: "Fira code",Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration:none;
    margin-right: 30px;
    transition: transform 400ms linear;
    opacity: 0.9;
}

.action:hover{
    transform: scale(1.08);
    opacity: 1;
    color: #F25A70;
}

.action:hover::before{
    background-color: #fff;

}

.action::before {
    content: "";
    width: 10px;
    height: 10px;
    margin-right: 10px;
    background-color: #F25A70;
}